@{
    ViewData["Title"] = "Welcome";
}

<div style="text-align: center;">
    <h1 class="display-4">Welcome to GithubSearcher</h1>
    <h3>Enter the repository owner and name to search for the repository issues.</h3>

</div>
