@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container" style="text-align: center;">
    <h1 style="color: red;">Error.</h1>
    <h2 style="color: red;">@ViewData["ErrorMessage"]</h2>
</div>



